.git
.gitignore
.env

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache

.venv
venv
env

.vscode
.idea

.ipynb_checkpoints

data

notebooks
models/checkpoint
src/evaluation
src/training

app/tests
tests

*.log

app/frontend/.gradio