numpy
langgraph
pydantic
datasets
torch
torchvision
gradio
datasets
fastapi
lanchain-core
langchain-openai
PIL
sklearn
cv2
psycopg2-binary
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg[binary]
python-dotenv